@inject SignInManager<ApplicationUser> signinManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyNotebook</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/Ionicons/css/ionicons.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link href="~/Content/AdminLTE/css/skins/skin-blue.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo logo-mini"><b>M</b>N</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo logo-lg"><b>My</b>Notebook</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                            <li class="dropdown messages-menu">
                                <form method="post" asp-controller="account" asp-action="logout">
                                    <button type="submit" style="width:60px; margin-right: 10px; margin-top: 1.5px;"
                                            class="btn btn-info btn-lg">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </li>

                        </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/AdminLTE/img/user-ava.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- search form (Optional) 
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                 /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Notebook Panel</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href='@Url.Action("Index", "Dashboard")'><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    @*<li><a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> <span>Home</span></a></li>*@
                    <li><a href='@Url.Action("Index", "Note")'><i class="fa fa-sticky-note"></i> <span>Notes</span></a></li>
                    <li><a href='@Url.Action("Index", "ToDo")'><i class="fa fa-list"></i> <span>ToDo's</span></a></li>
                    <li><a href='@Url.Action("Index", "Reminder")'><i class="fa fa-calendar-times-o"></i> <span>Reminders</span></a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a href='@Url.Action("ListUsers", "Administration")'><i class="fa fa-user-o"></i> <span>Users</span></a></li>
                        <li><a href='@Url.Action("ListRoles", "Administration")'><i class="fa fa-users"></i><span>Roles</span></a></li>
                    }

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-info"></i> <span>Extras</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href='@Url.Action("About", "Home")'>About</a></li>
                            <li><a href='@Url.Action("Contact", "Home")'>Contact</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <!-- Main content -->
            <section class="content container-fluid">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Organize, plan, collaborate.
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="#">Specweb</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 25 on April 26th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/js/adminlte.js"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
</body>
</html>